body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login_form{
  width: 30rem;
}

.tableImg{
  max-height: 75px;
  max-width: 75px;
}
table tr td{
  padding : 2px!important;
  margin : 2px!important;
}
.main_body{
  margin-left: 12rem;
}

.top_nav{
  box-shadow: 0 1px 10px grey;
}

.sidebar{
  --bs-bg-opacity:1;
  background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity))!important;
  width: 12rem;
  height: 100vh;
  box-shadow: 1px 0 10px grey;
  position: fixed; /* Fix the sidebar position */
  top: 0px;
  left: 0;
  z-index: 1030; /* Ensure it appears above other content */
}

.dialog{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
  width: 70%;
  background: #d0d0d0;
  padding: 10px;
  z-index: 99;
}